<body>
	<img src={{ url_for('static', filename="icon.png") }}>
	<form method="POST" action={{ url_for('editLot', lot_id=lot.id) }}>
		<fieldset>
		<legend>Edit Parking Lot:</legend>
		<input type="text" name="address" placeholder={{ lot.address }}>
		<input type="text" name="capacity" placeholder={{ lot.capacity }}>
		<input type="text" name="image_url" placeholder={{ lot.image_url }}>
		<input type="submit" value="Edit lot">
		<a href={{ url_for('allLots') }}>Cancel</a>
		</fieldset>
	</form>
</body>