<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<img src={{ url_for('static', filename="icon.png") }}>
	<form method="POST" action={{ url_for('newLot') }}>
		<fieldset>
		<legend>New Parking Lot:</legend>
		<input type="text" name="address" placeholder="Parking Lot Address">
		<input type="text" name="capacity" placeholder="Capacity">
		<input type="text" name="image_url" placeholder="Image URL">
		<input type="submit" value="Create lot">
		<a href={{ url_for('allLots') }}>Cancel</a>
		</fieldset>
	</form>
</body>
</html>